<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Teste</title>
  <style type="text/css" media="screen">
    body {
      padding: 25px;
    }
    #head {
      width: 400px
      border: 1px solid red;
    }
    
  </style>
</head>
<body>
  <h1 id="main">main - <%= @carro.marca %></h1>
  <div id="head">
    Ano: <br />
    <%= @carro.ano %>
  </div>
</body>
</html>
